<div class="row">
  <div class="container">
    <header class="row">
      <div class="col-xs-12 col-sm-6 text-center text-sm-left">
        <h2>Movies list</h2>
      </div>
      <div class="col-xs-12 col-sm-6 text-center text-sm-right">
        <button mat-mini-fab color="accent" [routerLink]="['../create']">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </header>
    <bv-loader *ngIf="isLoading"></bv-loader>
    <div class="row" *ngIf="!isLoading && moviesList">
      <div class="movie col-xs-12 col-md-6 col-lg-4" *ngFor="let movie of moviesList; let i = index">
        <mat-card class="movie__card">
          <mat-card-title>
            <h3 class="movie__title">
              <a [routerLink]="['../details', movie.Id]">{{movie.Title}}</a>
            </h3>
          </mat-card-title>
          <mat-card-subtitle>
            <p class="movie__director">{{movie.Year}}, {{movie.Director}}</p>
          </mat-card-subtitle>
          <div class="movie__extra">
            <div class="movie__rating">
              <bv-star-rating [rating]="movie.Rating"></bv-star-rating>
            </div>
            <div class="movie__actions">
              <button mat-icon-button type="button" color="primary" [routerLink]="['../edit/', movie.Id]">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button type="button" color="warn" (click)="delete(movie.Id, movie.Title)">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>