<div>
  <div class="row">
    <div class="col-xs-12 col-sm text-center text-sm-left">
      <h2 *ngIf="userData">{{userData.Username}}</h2>
    </div>
    <div class="col-xs-12 col-sm text-center text-sm-right">
      <button type="button" *ngIf="userData" mat-raised-button color="warn" (click)="delete()">Delete</button>
      <button type="button" *ngIf="userData" mat-raised-button color="accent" [routerLink]="['../../edit/', userData.Id]">Edit</button>
      <button type="button" mat-raised-button color="primary" [routerLink]="['../../list']">Back</button>
    </div>
  </div>
  <bv-loader *ngIf="!userData"></bv-loader>
  <div class="row" *ngIf="userData">
    <mat-card class="user">
      <mat-card-header>
        <mat-card-title>
          <h3 class="user__name">{{userData.FirstName}} {{userData.LastName}}</h3>
        </mat-card-title>
        <mat-card-subtitle class="user__nick">{{userData.Username}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="container">
          <div class="row">
            <p class="col-sm-6">
              Birthday: <strong>{{ userData.Birthday | date }}</strong>
            </p>
            <p class="col-sm-6">
              Contact: <strong><a [href]="'mailto:' + userData.Email">{{ userData.Email }}</a></strong>
            </p>
          </div>
        </div>
      </mat-card-content>
      <img mat-card-image [src]="'https://picsum.photos/400/250/?random&time=' + randomNumber" [alt]="userData.Username" class="user__image">
    </mat-card>
  </div>
</div>